<li><a href="<%= comment_url(comment) %>"><%= comment.content %></a></li>
<ul>
  <% unless comment.child_comments.empty? %>
    <% comment.child_comments.each do |child| %>
      <%=render "shared/comment", comment: child%>
    <% end %>
  <% end %>
</ul>
