<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">

  <label for="sub_title">Title</label>
  <input id="sub_title" type="text" name="sub[title]" value="<%= @sub.title %>">
  <br>

  <label for="sub_description">Description</label>
  <input id="sub_description" type="text" name="sub[description]" value="<%= @sub.description %>">
  <br>

  <input type="submit" value="Edit Sub">
</form>
