<h1><%= @sub.title %></h1>

<h2>Description: <%= @sub.description %></h2>

<ul>
  <% @sub.posts.each do |post| %>
    <li><%= post.title %></li>
  <% end %>
</ul>

<a href="<%= new_post_url %>">New Post</a>
